body{
    font-family: Montserrat, sans-serif;
    background-color: #ffffff;
}

a{
    text-decoration: none;    
}

ul{
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

.header-cont {
    padding: 0;
    display: flex;
    gap: 138px;
    align-items: center;
    padding: 20px 20px 14px;
}

.logo-choco {
    display: flex;
    color: #111111;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    align-items: center;    
}

.logo-simply {
    font-style: italic;
}

.logo-icon {
    stroke: #fd9222;
    fill: #fcf1e0;
    margin-left: 4px;
}

.nav-list {
    display: none;
}

.socials-list{
    display: none;
}

.open-mob-menu {
    position: relative;
    width: 28px;
    height: 28px;
    border: solid 1px #000000;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-icon {
    stroke: #000000;
    min-width: 24px;
    min-height: 16px;
}

.open-mob-menu:hover,
.open-mob-menu:focus {
    opacity: 0.7;
    border-radius: 20%;
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #1E1823;
    padding: 136px 20px 20px;
    display: flex;
    flex-direction: column;    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mob-menu-close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    stroke: #ffffff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-btn:hover .mob-menu-close-icon,
.mob-menu-close-btn:focus .mob-menu-close-icon {
    stroke:#fd9222;
}

.mob-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
}

.mob-menu-nav-link {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.mob-menu-nav-link.current {
    color: #fd9222;
}

.mob-menu-socials-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

.mob-menu-socials-icon {
    fill: transparent;
    stroke: #ffffff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-socials-item:hover .mob-menu-socials-icon,
.mob-menu-socials-item:focus .mob-menu-socials-icon {
    stroke: #fd9222;
}

/* Hero */

.hero {    
    display: block;
    background-color: #1E1823;
    padding: 395px 36px 20px 40px;
    background-image: linear-gradient(to bottom,
    rgba(17, 17, 17, 0.4), 
    rgba(17, 17, 17, 0.4)),
    url(../images/hero/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 620px;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 60px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution:192dpi){
    .section.hero {
        background-image: linear-gradient(to bottom,
            rgba(17, 17, 17, 0.4),
            rgba(17, 17, 17, 0.4)),
            url(../images/hero/hero-mobile@2x.jpg);
    }
}

.hero-cont {
    padding: 0;
}
 
.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-bottom: 32px;
}

.buy-btn {
    border-radius: 100px;
    padding: 12px 28px;
    background-color: #fd9222;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    margin-right: 14px;
    margin-bottom: 32px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-btn:hover,
.buy-btn:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}

.hero-btn-link{
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 12px 28px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-link:hover,
.hero-btn-link:focus {
    border: 1px solid #fd9222;
    color: #fd9222;
}

.scroll-down{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 107px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scrl-txt {
    font-weight: 500px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-icon-circle{
    border-radius: 100%;
    background-color: #ffffff;
    width: 28px;
    height: 28px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-icon {
    fill: #fd9222;    
}

.scroll-down:hover .hero-scrl-txt,
.scroll-down:focus .hero-scrl-txt{
    color:#fd9222;
}

.scroll-down:hover .scroll-icon-circle,
.scroll-down:focus .scroll-icon-circle {
    background-color: #fd9222;
    transform: rotate(-90deg);
}

.scroll-down:hover .scroll-icon,
.scroll-down:focus .scroll-icon {
    fill: #ffffff;
}

/* Benefits */

.benefits {
    background-color: #1E1823;    
    width: 375px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.benefits-cont{
    padding: 20px;
}

.benefits-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benefits-item {
    padding-right: 28px;
}

.benefits-item:last-child{
    padding-bottom: 16px;
}

.benefits-icon-circle {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.benefits-icon {
    fill: #fd9222;
    
}

.benefits-header {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 18px;
}

.benefits-txt {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);;
}

/* Ingredients */

.ingredients {
    width: 375px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.ingredients-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding: 0 26px;  
    margin-bottom: 24px;  
}

.ingredients-title-taste {
    color:#fd9222;
}

.ingredients-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000000;
    margin-bottom: 32px;
}

.ingredients-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients-item {
    position: relative;
    overflow: hidden;
}

.ingredients-card {
    border: 1px solid #fd9222;
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    padding: 28px;
    transition: border 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.milk-choco-card {
    background-color: #fd9222;
    color:#ffffff
}

.card-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.nuts-card {
    background-color: #1E1823;
    border: 1px solid #1E1823;
    color:#ffffff;
}

.ingredients-img{    
    margin: 0 auto;
    margin-bottom: 25px;
}

.ingredients-overlay{
    position: absolute;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 28px;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.ingr-ovrl-title{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
}

.ingr-ovrl-btn-or {
    border: none;
    border-radius: 35px;
    padding: 6px 16px;
    background-color: #fd9222;
    font-size: 10px;
    line-height: 1.2;
    color: #ffffff;
}

.ingr-ovrl-btn-wh {
    border: 1px solid #fd9222;
    border-radius: 35px;
    padding: 5px 15px;
    background-color: #fafafa;
    font-size: 10px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 14px;
}

.ingr-ovrl-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #000000;
}

.ingredients-item:hover .ingredients-overlay{
    transform: translateX(0);
}

.ingredients-item:hover .ingredients-card {
    border-color: #ffffff;
    background-color: transparent;
}

/* HOW IT'S MADE */