*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: Montserrat, sans-serif;
    background-color: #fafafa;
}

a{
    text-decoration: none;    
}

ul{
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

.orange{
    color: #fd9222;
}

/* Header */

.header-cont {
    padding: 0;
    display: flex;
    gap: 138px;
    align-items: center;
    padding: 20px 20px 14px;
}

.logo-choco {
    display: flex;
    color: #111111;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    align-items: center;    
}

.logo-simply {
    font-style: italic;
}

.logo-icon {
    stroke: #fd9222;
    fill: #fcf1e0;
    margin-left: 4px;
}

.nav-list {
    display: none;
}

.socials-list{
    display: none;
}

.open-mob-menu {
    position: relative;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-icon {
    stroke: #000000;
    min-width: 24px;
    min-height: 16px;
}

.open-mob-menu:hover,
.open-mob-menu:focus {
    opacity: 0.7;
    transform: scale(1.1);
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #1E1823;
    padding: 136px 20px 20px;
    display: flex;
    flex-direction: column;    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mob-menu-close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    stroke: #ffffff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-btn:hover .mob-menu-close-icon,
.mob-menu-close-btn:focus .mob-menu-close-icon {
    stroke:#fd9222;
}

.mob-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
}

.mob-menu-nav-link {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.mob-menu-nav-link.current {
    color: #fd9222;
}

.mob-menu-socials-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

.mob-menu-socials-icon {
    fill: transparent;
    stroke: #ffffff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-socials-item:hover .mob-menu-socials-icon,
.mob-menu-socials-item:focus .mob-menu-socials-icon {
    stroke: #fd9222;
}

/* Hero */

.hero {    
    display: block;
    background-color: #1E1823;
    padding: 395px 36px 20px 40px;
    background-image: linear-gradient(to bottom,
    rgba(17, 17, 17, 0.4), 
    rgba(17, 17, 17, 0.4)),
    url(../images/hero/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 620px;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 60px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution:192dpi){
    .section.hero {
        background-image: linear-gradient(to bottom,
            rgba(17, 17, 17, 0.4),
            rgba(17, 17, 17, 0.4)),
            url(../images/hero/hero-mobile@2x.jpg);
    }
}

.hero-cont {
    padding: 0;
}
 
.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-bottom: 32px;
}

.buy-btn {
    border-radius: 100px;
    padding: 12px 28px;
    background-color: #fd9222;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    margin-right: 14px;
    margin-bottom: 32px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-btn:hover,
.buy-btn:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}

.hero-btn-link{
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 12px 28px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-link:hover,
.hero-btn-link:focus {
    border: 1px solid #fd9222;
    color: #fd9222;
}

.scroll-down-link{
    display: block;
    width: 107px;
}

.scroll-down{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 107px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scrl-txt {
    font-weight: 500px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-icon-circle{
    border-radius: 100%;
    background-color: #ffffff;
    width: 28px;
    height: 28px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-icon {
    fill: #fd9222;    
}

.scroll-down:hover .hero-scrl-txt,
.scroll-down:focus .hero-scrl-txt{
    color:#fd9222;
}

.scroll-down:hover .scroll-icon-circle,
.scroll-down:focus .scroll-icon-circle {
    background-color: #fd9222;
    transform: rotate(-90deg);
}

.scroll-down:hover .scroll-icon,
.scroll-down:focus .scroll-icon {
    fill: #ffffff;
}

/* Benefits */

.benefits {
    background-color: #1E1823;    
    width: 375px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.benefits-cont{
    padding: 20px;
}

.benefits-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benefits-item {
    padding-right: 28px;
}

.benefits-item:last-child{
    padding-bottom: 16px;
}

.benefits-icon-circle {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.benefits-icon {
    fill: #fd9222;
    
}

.benefits-header {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 18px;
}

.benefits-txt {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);;
}

/* Ingredients */

.ingredients {
    width: 375px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.ingredients-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding: 0 26px;  
    margin-bottom: 24px;  
}

.ingredients-title-taste {
    color:#fd9222;
}

.ingredients-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000000;
    margin-bottom: 32px;
}

.ingredients-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients-item {
    position: relative;
    overflow: hidden;
}

.ingredients-card {
    border: 1px solid #fd9222;
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    padding: 28px;
    transition: border 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.milk-choco-card {
    background-color: #fd9222;
    color:#ffffff
}

.card-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.nuts-card {
    background-color: #1E1823;
    border: 1px solid #1E1823;
    color:#ffffff;
}

.ingredients-img{    
    margin: 0 auto;
    margin-bottom: 25px;
}

.ingredients-overlay{
    position: absolute;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 28px;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.ingr-ovrl-title{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
}

.ingr-ovrl-btn-or {
    border: none;
    border-radius: 35px;
    padding: 6px 16px;
    background-color: #fd9222;
    font-size: 10px;
    line-height: 1.2;
    color: #ffffff;
}

.ingr-ovrl-btn-wh {
    border: 1px solid #fd9222;
    border-radius: 35px;
    padding: 5px 15px;
    background-color: #fafafa;
    font-size: 10px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 14px;
}

.ingr-ovrl-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #000000;
}

.ingredients-item:hover .ingredients-overlay{
    transform: translateX(0);
}

.ingredients-item:hover .ingredients-card {
    border-color: #ffffff;
    background-color: transparent;
}

/* HOW IT'S MADE */

.how-its-made {}

.how-made-cont {}

.how-made-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    text-align: center;
    margin-bottom: 32px;
}

.how-made-title-orng {
    color: #fd9222;
}

.how-made-img {
    border-radius: 15px;
    width: 335px;
    margin-bottom: 20px;
}

.how-made-text {
    padding: 20px 14px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 60px;
}

.how-made-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0;
}

.how-made-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111111;
}

.how-made-item:last-child{
    margin-bottom: 0;
}

.how-made-list-marker{
    fill: #4c4c4c;
    stroke: #eceded;
    margin-right: 8px;
}

/* REVIEWS */

.reviews-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 74px;
}

.reviews-info{
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background-color: #ffffff;
    padding: 56px 18px 42px;
    position: relative;
    margin-bottom: 20px;
}

.reviews-img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
}

.reviews-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #000000;
    margin-top: 18px;
    margin-bottom: 24px;
}

.reviews-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.reviews-banner {
    display: flex;
    gap: 13px;
    justify-content: center;
    margin-bottom: 32px;
}

.reviews-rect {
    fill:#fd9222;
    height: 13px;
}

.reviews-dot {
    fill: rgba(39, 26, 26, 0.1);
    height: 13px;
}

.reviews-button{
    display: block;
    margin: 0 auto;
    outline: none;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 12px 28px;
    background-color: transparent;
    width: 165px;
    height: 41px;
    margin-bottom: 60px;

    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color:#000000;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button:hover,
.reviews-button:focus{
    background-color: #fd9222;
    color:#ffffff;
}


/* FOOTER */

.foot{
    padding: 32px 20px;
    background-color: #1E1823;
}

.footer-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 32px;
}

.footer-upper{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 32px;
}

.footer-address{
    margin-bottom: 32px;
}

.footer-contact-us{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #ffffff;
    margin-bottom: 14px;
    font-style: normal;
}

.footer-contacts-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    font-style: normal;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus{
    opacity: 0.7;
}

.footer-nav-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 32px;
}

.footer-nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: #ffffff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    opacity: 0.7;
}

.footer-form{
    display: flex;
    gap:8px;
}

.subs-email{
    padding: 14px 18px;
    outline: none;
    background-color: transparent;
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    width: 207px;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-email::placeholder{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
}

.subs-email:hover,
.subs-email:focus{
    border-color: rgba(255, 255, 255, 0.5);
}

.subs-button{
    border-radius: 100px;
    padding: 14px 26px;
    background-color: #fd9222;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color:#ffffff;
    width: 120px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-button:hover,
.subs-button:focus{
    background-color: #fcf1e0;
    color: #fd9222;
}


.hidden-mob{
    display: none;
}


/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 311px;
    border-radius: 15px;
    padding: 32px 24px;
    background-color: #fafafa;
    position: absolute;
}

.modal-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 24px;
    stroke: #111111;
}

.modal-close-btn-icon{
    width: 24px;
    height: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon:hover{
    transform: scale(1.1);
}

.modal-title {
    width: 255px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 32px;
}

.modal-label-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 14px;
}

.modal-label {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.modal-input-cont {
    position: relative;
    display: inline-block;
}

.modal-field {
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 13px 18px;
    padding-left: 43px;
    width: 263px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    background-color: transparent;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:hover,
.modal-field:focus{
    border-color: #fd9222;
}

.modal-field:active {
    border-color: #fd9222;
}

.modal-icon {
    stroke: #404040;
    fill: none;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:hover+.modal-icon,
.modal-field:focus+.modal-icon{
    stroke: #fd9222;
}

.modal-label-textarea {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modal-txt {
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 13px 18px;
    width: 263px;
    height: 91px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    background-color: transparent;
    margin-bottom: 18px;
    resize: none;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-txt:hover,
.modal-txt:focus {
    border-color: #fd9222;
}

.modal-txt:active {
    border-color: #fd9222;
}

.modal-checkbox-field {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.check{
    display: inline-flex;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    background-color: transparent;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 12px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
}

.modal-checkbox:checked+.modal-label-chkbox .check {
    border: none;
    background-color: #fd9222;
    fill: #fff;
}

.modal-checkbox:focus+.modal-label-chkbox .check{
    border-color: #fd9222;
}

.modal-label-chkbox {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
}

.modal-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.send-btn {
    border-radius: 100px;
    padding: 12px 28px;
    background-color: #fd9222;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus{
    background-color: #fcf1e0;
    color: #fd9222;
}